# OpenAI API
OPENAI_API_KEY=your-openai-api-key
OPENAI_MARKET_ANALYSIS_MODEL=gpt-4o-mini
OPENAI_NEGOTIATION_MODEL=gpt-4o-mini

# Firebase (Auth / Firestore)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBi9KijxknRs8TCZQE7T6JJWxxs5r5uDJE",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="frima-support-app.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID="frima-support-app",
NEXT_PUBLIC_FIREBASE_APP_ID="772987323311",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="frima-support-app.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1:772987323311:web:128365dd1034879212655a"
